//color
$navbar-background-color: rgb(247,247,249);
$navbar-icon-color: rgba(0, 0, 0, 0.65);
$navbar-brand-color: rgb(84, 162, 210);
$navbar-icon-hover: rgb(179, 53, 83);

$nav-lg-width: 7rem;
$nav-sm-width: 3rem;

$min-desktop: 48em;   // 768px
